body{
    font-family: sans-serif;
    color:rgb(253, 116, 139);
}
header{
    text-align: center;
}
footer{
    text-align: right;
}
span{
    background-color: gray;
    color: white;

}
